<header class="admin-header">
    <nav>
        <div class="site-name">
            <a href="/">My blog</a>
        </div>
        <div class="user">
            {{#if user}}
                <a href="/users/logout">Logout</a>
            {{#each user}}
                <span>{{username}}</span>
            {{/each}}
            {{else}}
                <a href="/users/login">Login</a>

                <a href="/users/signup">Signup</a>
            {{/if}}
        </div>
    </nav>
</header>
