body{
    margin:0;
    padding:0;
    background-color: whitesmoke;
}

.app{
    margin:0;
    padding:0;
    display: flex;
    width:100%;
    flex-direction: column;
    min-height:100vh;
}

.content{
    width:98%;
    height: 100%;
    padding:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:70vh
    
}


.link-btn-style{
    min-width:120px;
    min-height: 35px;
    text-decoration: none;
    background-color: teal;
    font-size:18px;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.danger{
    background-color: rgba(220, 40, 40, 1);
}

.default-btn-input{
    min-width: 120px;
    min-height: 35px;
    background-color: teal;
    border:1px solid gray;
    border-radius: 5px;
    font-size:1em;
    color:whitesmoke;
    cursor: pointer;
    transition: .5s;
}

.default-btn-input:hover{
    background-color: whitesmoke;
    color:teal;
}

.hidden{
    display:none;
}

.soft-title{
    color: teal;
    text-align: center;
}
