{{>_siteHeader}}

<div class="content">

<div class="default-form-div">
    <h4 class="soft-title">Fazer login</h4>
    <form method="POST" action="/users/login">
        
        <label>
            Email
        </label>
        <input type="email" required name="email">
        <label>
            Password
            
        </label>
        <input type="password" name="password">
        <input type="submit" value="Entrar" class="link-btn-style">
        <a href="/users/signup">Nao tenho conta</a>
    </form>
</div>
</div>
